.swiper {
  position: relative;
  height: 80%;
  width: 80%;
}

.swiper-slide {
  display: flex;
  height: auto;
  align-items: center;
  justify-content: center;
  border-radius: 18px;
  background-color: var(--color-background);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  cursor: grab;
}

.slice-ctn {
  justify-content: baseline;
  align-items: center;
  width: 100%;
  height: 100%;
  color: black;
}

.slice-info-ctn {
  width: 85%;
  height: 50%;
  justify-content: space-between;
  padding: 20px 0;
}

.slice-title {
  text-align: center;
}

.slice-title {
  font-size: 35px;
}

.slice-img-ctn {
  width: 100%;
  /* height: 50%; */
  overflow: hidden;
  text-align: center;
  justify-content: center;
}

.slice-ctn img {
 width: 100%;
 height: 100%;
 object-fit: cover;
 cursor: grab;
}

.slice-ctn ul {
  gap: 10px;
}

.slice-footer {
  width: 100%;
  gap: 15px;
}

.slice-footer-left {
  width: 60%;
}

.slice-footer-right {
  width: 40%;
}

.slice-footer-right a {
  width: 90%;
}

.slice-footer-left {
  justify-content: center;
}

.slice-footer-right {
  justify-content: flex-end;
  align-items: flex-end;
  gap: 10px;
}

.slice-button {
  text-align: center;
  width: 100%;
  border: 1px solid grey;
  background-color: white;
  padding: 5px 10px;
  border-radius: 10px;
  transition: all linear 0.1s;
}

.slice-button p {
  width: 100%;
  justify-self: center;
}

.slice-button:hover {
  background-color: var(--color-blue-dark);
  color: white;
  transition: all linear 0.1s;
}

.slice-stack,
.slice-stack-li {
  flex-wrap: wrap;
}

.slice-stack-li {
  align-items: center;
  gap: 5px;
}

.slice-stack img {
  width: 15px;
  height: 15px;
}

@media screen and (max-width: 500px) {
  .slice-info-ctn {
    gap: 10px;
    font-size: 15px;
  }
  .slice-info-ctn h4 {
    font-size: 25px;
  }
  
  .slice-footer {
    flex-direction: column;
    align-items: center;
  }

  .slice-footer-left,
  .slice-footer-right {
    width: 80%;
  }
}

@media screen and (min-width: 1201px ) {
  .swiper {
    height: 80vh;
    max-height: 600px;
  }
}

@media screen and (max-height: 650px) {
  .swiper {
    height: 500px;
    max-height: 500px;
  }

  .slice-title {
    font-size: 23px;
  }

  .slice-description {
    font-size: 15px;
  }
}