.swiper {
  width: 80%;
  height: 75%;
}

.swiper-slide {
  display: flex;
  width: 50%;
  height: auto;
  align-items: center;
  justify-content: center;
  border-radius: 18px;
  background-color: var(--color-background);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  cursor: grab;
}

.slice-ctn {
  justify-content: baseline;
  align-items: center;
  width: 100%;
  height: 100%;
  color: black;
}

.slice-info-ctn {
  width: 85%;
  height: 50%;
  justify-content: space-between;
  padding: 20px 0;
}

.slice-title {
  text-align: center;
}

.slice-title {
  font-size: 35px;
}

.slice-img-ctn {
  width: 100%;
  height: 50%;
  overflow: hidden;
  text-align: center;
  justify-content: center;
}

.slice-ctn img {
 width: 100%;
 height: 100%;
 object-fit: cover;
 cursor: grab;
}

.slice-ctn ul {
  gap: 10px;
}

.slice-footer {
  width: 100%;
  gap: 15px;
}

.slice-footer-left {
  width: 60%;
}

.slice-footer-right {
  width: 40%;
}

.slice-footer-right a {
  width: 90%;
}

.slice-footer-left {
  justify-content: center;
}

.slice-footer-right {
  justify-content: flex-end;
  align-items: flex-end;
  gap: 10px;
}

.slice-button {
  text-align: center;
  width: 100%;
  border: 1px solid grey;
  background-color: white;
  padding: 5px 10px;
  border-radius: 10px;
  transition: all linear 0.1s;
}

.slice-button p {
  width: 100%;
  justify-self: center;
}

.slice-button:hover {
  background-color: var(--color-blue-dark);
  color: white;
  transition: all linear 0.1s;
}

.slice-stack,
.slice-stack-li {
  flex-wrap: wrap;
}

.slice-stack-li {
  align-items: center;
  gap: 5px;
}

.slice-stack img {
  width: 15px;
  height: 15px;
}

@media only screen and (max-width: 1000px) {
  .slice-title {
    font-size: 28px;
  }

  .swiper-slide {
    font-size: 14px;
  }
}

@media only screen and (max-width: 820px) {
  .swiper {
    width: 100%;
    height: 40vh;
  }

  .slice-ctn.col {
    flex-direction: row;
    align-items: stretch;
    justify-content: space-between;
  }

  .slice-img-ctn {
    width: 40%;
    height: 100%;
  }

  .slice-info-ctn {
    width: 60%;
    height: 100%;
    padding: 20px 20px;
  }
}

@media only screen and (max-width: 650px) {
  .slice-stack-li p {
    display: none;
  }

  .slice-footer {
    flex-direction: column;
  }

  .slice-footer-right.col {
    flex-direction: row;
  }

  .slice-footer-right {
    width: auto;
  }
}

@media only screen and (max-width: 650px) { 
  .slice-button p {
    font-size: 12px;
  }
}

@media only screen and (max-width: 540px) { 
  .swiper {
    width: 100%;
    height: 60vh;
  }

  .slice-ctn.col {
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
  }

  .slice-img-ctn {
    width: 100%;
    height: 40%;
  }

  .slice-info-ctn {
    width: 100%;
    height: 70%;
    padding: 20px 20px;
  }

  .slice-stack {
    width: 100%;
  }

  .slice-stack-li p {
    display: block;
  }

  .slice-footer {
    flex-direction: column;
  }

  .slice-footer-left {
    width: 100%;
  }

  .slice-footer-right.col {
    flex-direction: row;
  }

  .slice-footer-right {
    width: auto;
  }
}

@media screen and (min-width: 1200px) {
  .swiper {
    width: 80%;
    height: 80%;
  }
}

@media screen and (min-width: 1600px)
and (min-height: 1026px ) {
  .swiper {
    width: 800px;
    height: 900px;
  }
}

@media screen and (max-height: 420px)
and (max-width: 820px) {

  .swiper,
  .swiper-slice,
  .slice-ctn {
    height: 100%;
  }

  .swiper-wrapper {
    height: auto;
  }
}

@media screen and (max-width: 500px)
and (max-height: 500px) {

  .swiper,
  .swiper-slice,
  .slice-ctn {
    height: 100%;
  }

  .swiper-wrapper {
    height: auto;
  }
}