.swiper {
  width: 80%;
  height: 75vh;
}

.swiper-slide {
  display: flex;
  width: 50%;
  align-items: center;
  justify-content: center;
  border-radius: 18px;
  background-color: var(--color-background);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  cursor: grab;
}

.slice-ctn {
  justify-content: baseline;
  align-items: center;
  width: 100%;
  height: 100%;
  color: black;
}

.slice-info-ctn {
  width: 85%;
  height: 50%;
  justify-content: space-between;
  padding: 20px 0;
}

.slice-title {
  text-align: center;
}

.slice-ctn h4 {
  font-size: 35px;
}

.slice-img-ctn {
  width: 100%;
  height: 50%;
  overflow: hidden;
  text-align: center;
  justify-content: center;
}

.slice-ctn img {
 width: 100%;
 height: 100%;
 object-fit: cover;
 cursor: grab;
}

.slice-ctn ul {
  gap: 10px;
}

.slice-footer {
  width: 100%;
}

.slice-footer-left {
  width: 60%;
}

.slice-footer-right {
  width: 40%;
}

.slice-footer-right a {
  width: 90%;
}

.slice-footer-left {
  justify-content: center;
}

.slice-footer-right {
  justify-content: flex-end;
  align-items: flex-end;
  gap: 10px;
}

.slice-button {
  text-align: center;
  width: 100%;
  border: 1px solid grey;
  background-color: white;
  padding: 5px 10px;
  border-radius: 10px;
  transition: all linear 0.1s;
}

.slice-button p {
  width: 100%;
  justify-self: center;
}

.slice-button:hover {
  background-color: var(--color-blue-dark);
  color: white;
  transition: all linear 0.1s;
}