.header {
  position: fixed;
  top: 0;
  height: 80px;
  width: 100%;
  padding: 20px 20px;
  justify-content: space-between;
  z-index: 3;
  background-color: white;
  transition: all linear 0.2s;
  box-shadow: none;
}

.header.moving {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}