.section-about {
  /* box shadow */
  margin-top: -80px;
  font-size: 20px;
  background-color: var(--color-background);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  text-align: center;
  justify-content: center;
  width: 100%
}

.section-about h2 {
  font-size: 40px;
}

.section-about-ctn {
  margin-top: 80px;
  padding: 30px 10px;
  width: 80%;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
}

.section-about-left-ctn,
.section-about-right-ctn {
  flex: 1;
}

.section-about-right-ctn {
  height: 100%;
  justify-content: center;
  text-align: left;
  gap: 15px;
}

.about-img-ctn {
  justify-content: center;
  align-items: center;
}

.about-img-ctn img {
  background: #ffffff;
  position: relative;
  width: 90%;
  max-width: 450px;
  transition: all ease 0.3s;
  box-shadow: rgb(0 0 0 / 16%) 0px 3px 8px, rgb(0 0 0 / 23%) 0px 3px 8px;
  padding: 4% 3% 13% 3%;
  transform: rotate(1deg);
}


@media screen and (max-width: 500px) {
  .section-about h2 {
    font-size: 30px;
  }

  .section-about {
    font-size: 15px;
  }
}

@media screen and (min-width: 1350px) {
  .section-about {
    font-size: 20px;
  }

  .section-about h2 {
    font-size: 60px;
  }
}

@media screen and (max-width: 1000px) {
  .section-about-ctn {
    flex-direction: column;
    align-items: center;
    padding-bottom: 60px;
  }

  .section-about-left-ctn,
  .section-about-right-ctn {
    max-width: 500px;
  }
}


@media screen and (orientation: portrait) {
  section {
    min-height: 850px;
  }
}


@media screen and (max-width: 350px) {
  .section-about h2 {
    font-size: 22px;
  }

  .section-about {
    font-size: 13px;
  }
}