.section-contact {
  /* box shadow */
  background-color: var(--color-background);
  box-shadow: rgba(0, 0, 0, 0.16) 0px -3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  width: 100%;
  gap: 50px;
  padding: 20px 20px;
  flex-wrap: wrap;
  justify-content: center;
}

.section-contact-wrapper {
  width: 90%;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

.section-contact h2 {
  font-size: 40px;
  text-align: center;
  flex-wrap: wrap;
}

.section-contact h3 {
  font-size: 25px;
}

.section-contact-left,
.section-contact-right {
  align-items: center;
  gap: 30px;
}

.section-contact-left,
.section-contact-right {
  flex: 1;
}

.contact-socials {
  gap: 20px;
  text-align: center;
}

.contact-resume {
  gap: 20px;
  align-items: center;
}

.contact-info {
  gap: 20px;
  text-align: center;
}

@media screen and (max-width: 1000px) {
  .section-contact-wrapper {
    flex-direction: column;
    gap: 50px;
  }
}


@media screen and (min-width: 1000px ) 
and (min-height: 800px) {
  .section-contact {
    min-height: 0vh;
    height: 800px;
  }
}