.section-works {
  justify-content: center;
  align-items: center;
  padding: 20px 20px;
  background-color: white;
  margin-top: 8px;
  margin-bottom: 8px;
}

.section-works h2 {
  font-size: 40px;
  text-align: center;
}

.section-works h3 {
  font-size: 25px;
}

.section-works-ctn-left {
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 50%;
  height: 100%;
  flex-grow: 1;
}

.section-works-ctn-right {
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 100%;
  flex-grow: 1;
  gap: 30px;
}

.technologies-ctn,
.tools-ctn {
  align-items: center;
  justify-self: center;
  gap: 15px;
  padding: 15px 15px;
  /* border: var(--color-blue) solid 2px; */
  border-radius: 10px;
  width: 90%;
  background-color: var(--color-background);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.technologies-wrapper,
.tools-wrapper {
  flex-wrap: wrap;
  gap: 20px 10px;
  width: 95%;
  align-items: center;
  justify-content: center;
}


.technologies-wrapper img,
.tools-wrapper img {
  width: 50px;
}

.icon-box {
  align-items: center;
  width: 100px;
  gap: 5px;
}

/* Media queries */

@media only screen and (max-width: 1200px) {

  .technologies-wrapper,
  .tools-wrapper {
    font-size: 15px;
    gap: 5px 5px;
  }

  .technologies-wrapper img,
  .tools-wrapper img {
    width: 40px;
  }

  .icon-box {
    width: 70px;
  }

}

@media only screen and (max-width: 1000px) {

  .section-works h2 {
    font-size: 35px;
  }

  .section-works h3 {
    font-size: 22px;
  }

  .technologies-wrapper,
  .tools-wrapper {
    font-size: 13px;
  }

}

@media only screen and (max-width: 820px) { 
 
  .section-works {
    flex-direction: column;
    justify-content: baseline;
    gap: 20px;
  }

  .section-works-ctn-left,
  .section-works-ctn-right {
    width: 90%;
    min-height: 40vh;
    gap: 10px;
  }
}

@media only screen and (max-width: 820px) { 
  .section-works {
    height: 200vh;
 }

 @media screen and (min-height: 800px) {
    .section-works {
    height: 150vh;
    }
  }

 @media screen and (min-height: 830px) {
    .section-works {
    height: 170vh;
    }
  }
}

@media only screen and (max-width: 412px) { 
  .section-works {
    height: 150vh;
 }
 .section-works-ctn-left {
    height: 90%;
  }

  .section-works h2 {
    font-size: 27px;
  }
}

@media only screen and (min-height: 1024px) {
  .section-works {
    min-height: 1vh;
    height: 1024px;
  }
}

@media screen and (min-width: 1600px)
and (min-height: 1026px ) {
  .section-works {
      min-height: 1vh;
      height: 1025px;
      max-height: 1025px;
    }
}

@media screen and (max-height: 420px)
and (max-width: 820px) {
  .section-works {
    min-height: 200vh;
  }
  
  .section-works-ctn-left {
    height: 50%;
  }
}


@media screen and (max-width: 600px)
and (max-height: 600px) {

  .section-works {
    min-height: 200vh;
  }
}

@media screen and (max-width: 600px)
and (max-height: 500px) {

  .section-works {
    min-height: 250vh;
  }
}


@media screen and (max-height: 550px) {
  .section-works {
    min-height: 130vh;
  }
}

@media screen and (max-height: 450px) {
  .section-works {
    min-height: 160vh;
  }
}

@media only screen and (max-width: 376px) { 
  .section-works {
    min-height: 180vh;
 }
 .section-works-ctn-left {
    height: 60%;
  }

  .section-works h2 {
    font-size: 27px;
  }
}

@media screen and (max-width: 915px)
and (min-height: 1300px) {
  .section-works {
    flex-direction: column;
    justify-content: baseline;
    gap: 20px;
  }

  .section-works-ctn-left,
  .section-works-ctn-right {
    width: 90%;
  }

  .slice-ctn {
    height: 30vh;
  }
}

@media screen and (max-width: 540px)
and (min-height: 720px) {
  .section-works {
    height: 150vh;
  }
}