.section-works {
  justify-content: center;
  align-items: center;
  padding: 20px 20px;
  background-color: white;
  height: 100%;
  margin-top: 8px;
  margin-bottom: 8px;
}

.section-works h2 {
  font-size: 40px;
  text-align: center;
}

.section-works h3 {
  font-size: 25px;
}

.section-works-ctn-left {
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 50%;
  min-height: 80vh;
  flex-grow: 1;
}

.section-works-ctn-right {
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 100%;
  flex-grow: 1;
  gap: 30px;
}

.technologies-ctn,
.tools-ctn {
  align-items: center;
  justify-self: center;
  gap: 15px;
  padding: 15px 15px;
  /* border: var(--color-blue) solid 2px; */
  border-radius: 10px;
  width: 90%;
  background-color: var(--color-background);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.technologies-wrapper,
.tools-wrapper {
  flex-wrap: wrap;
  gap: 20px 10px;
  width: 95%;
  align-items: center;
  justify-content: center;
}


.technologies-wrapper img,
.tools-wrapper img {
  width: 50px;
}

.icon-box {
  align-items: center;
  width: 100px;
  gap: 5px;
}

/* icons */

.section-works img[alt=html5] {
  filter: invert(32%) sepia(23%) saturate(4484%) hue-rotate(348deg) brightness(108%) contrast(88%);
}

.section-works img[alt=css3] {
  filter: invert(33%) sepia(90%) saturate(1090%) hue-rotate(180deg) brightness(86%) contrast(87%);
}

.section-works img[alt=javascript] {
  filter: invert(90%) sepia(49%) saturate(1261%) hue-rotate(338deg) brightness(101%) contrast(94%);
}

.section-works img[alt=react] {
  filter: invert(69%) sepia(60%) saturate(415%) hue-rotate(156deg) brightness(101%) contrast(97%);
}

.section-works img[alt=redux] {
  filter: invert(34%) sepia(17%) saturate(3891%) hue-rotate(233deg) brightness(94%) contrast(91%);
}

.section-works img[alt=ruby] {
  filter: invert(29%) sepia(47%) saturate(2035%) hue-rotate(332deg) brightness(97%) contrast(105%);
}

.section-works img[alt=rubyonrails],
.section-works img[alt=rails] {
  filter: invert(11%) sepia(67%) saturate(7238%) hue-rotate(359deg) brightness(89%) contrast(113%);
}

.section-works img[alt=postgresql] {
  filter: invert(30%) sepia(93%) saturate(1610%) hue-rotate(215deg) brightness(95%) contrast(86%);
}

.section-works img[alt=git] {
  filter: invert(37%) sepia(96%) saturate(1950%) hue-rotate(342deg) brightness(97%) contrast(94%);
}

.section-works img[alt=github] {
  filter: invert(4%) sepia(14%) saturate(191%) hue-rotate(314deg) brightness(100%) contrast(89%);
}

.section-works img[alt=postman] {
  filter: invert(54%) sepia(10%) saturate(5850%) hue-rotate(335deg) brightness(100%) contrast(103%);
}

.section-works img[alt=bootstrap] {
  filter: invert(39%) sepia(25%) saturate(1788%) hue-rotate(226deg) brightness(84%) contrast(82%);
}

.section-works img[alt=googlefonts] {
  filter: invert(74%) sepia(64%) saturate(7225%) hue-rotate(201deg) brightness(99%) contrast(93%);
}

.section-works img[alt=heroku] {
  filter: invert(10%) sepia(100%) saturate(7348%) hue-rotate(272deg) brightness(59%) contrast(113%);
}

.section-works img[alt=netlify] {
  filter: invert(58%) sepia(91%) saturate(1972%) hue-rotate(133deg) brightness(96%) contrast(101%);
}

.section-works img[alt=visualstudiocode] {
  filter: invert(35%) sepia(53%) saturate(2057%) hue-rotate(181deg) brightness(89%) contrast(102%);
}

/* Media queries */

@media only screen and (max-width: 1200px) {

  .technologies-wrapper,
  .tools-wrapper {
    font-size: 15px;
    gap: 5px 5px;
  }

  .technologies-wrapper img,
  .tools-wrapper img {
    width: 40px;
  }

  .icon-box {
    width: 70px;
  }

}

@media only screen and (max-width: 1000px) {

  .section-works h2 {
    font-size: 35px;
  }

  .section-works h3 {
    font-size: 22px;
  }

  .technologies-wrapper,
  .tools-wrapper {
    font-size: 13px;
  }

}

@media only screen and (max-width: 820px) { 
 
  .section-works {
    flex-direction: column;
    justify-content: baseline;
    gap: 20px;
  }

  .section-works-ctn-left,
  .section-works-ctn-right {
    width: 90%;
    min-height: 40vh;
    gap: 10px;
  }
}

@media only screen and (max-width: 800px) { 


  @media only screen and (min-height: 900px) {
 
  }
}

@media only screen and (max-width: 540px) { 
 .section-works {
  min-height: 150vh;
 }
}

@media only screen and (min-height: 1024px) {
  .section-works {
    min-height: 1vh;
    height: 1024px;
  }
}

@media screen and (min-width: 1600px)
and (min-height: 1026px ) {
  .section-works {
      min-height: 1vh;
      height: 1025px;
      max-height: 1025px;
    }
}

@media screen and (max-height: 420px)
and (max-width: 820px) {
  .section-works {
    min-height: 200vh;
  }
  
  .section-works-ctn-left {
    height: 50%;
  }
}